@model Dierentuin42.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalDiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalDiet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalActivityPattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalActivityPattern)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enclosure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enclosure.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityRequirement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityRequirement)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Terug naar overzicht</a>
</div>
