@model Dierentuin42.Models.Enclosure

@{
    ViewData["Title"] = "Create";
}

<h1>Creëer een nieuwe Verblijf</h1>

<h4>Enclosure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animals" class="control-label"></label>
                <select id="SelectedAnimalIds" name="selectedAnimalIds" multiple class="form-control">
                    @foreach (var animal in ViewBag.AvailableAnimals)
                    {
                        <option value="@animal.Value">@animal.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="EnclosureClimate" class="control-label"></label>
                <select asp-for="EnclosureClimate" class="form-control" >
                    @foreach(var climate in Enum.GetValues(typeof(Dierentuin42.Models.Enclosure.Climate)).Cast<Dierentuin42.Models.Enclosure.Climate>())
                    {
                        <option value="@climate">@climate</option>
                    }
                </select>
                <span asp-validation-for="EnclosureClimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnclosureHabitatType" class="control-label"></label>
                <select asp-for="EnclosureHabitatType" class="form-control" multiple class="form-control">
                    @foreach (var habitat in Enum.GetValues(typeof(Dierentuin42.Models.Enclosure.HabitatType)).Cast<Dierentuin42.Models.Enclosure.HabitatType>())
                    {
                        <option value="@habitat">@habitat</option>
                    }
                </select>
                <span asp-validation-for="EnclosureHabitatType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnclosureSecurityLevel" class="control-label"></label>
                <select asp-for="EnclosureSecurityLevel" class="form-control">
                    @foreach (var security in Enum.GetValues(typeof(Dierentuin42.Models.Enclosure.SecurityLevel)).Cast<Dierentuin42.Models.Enclosure.SecurityLevel>())
                    {
                        <option value="@security">@security</option>
                    }
                </select>
                <span asp-validation-for="EnclosureSecurityLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar overzicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
