@model Dierentuin42.Models.Enclosure

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enclosure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Dieren in dit verblijf
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var animal in Model.Animals)
                {
                    <li>@animal.Name</li>
                }
            </ul>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnclosureClimate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnclosureClimate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnclosureHabitatType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnclosureHabitatType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnclosureSecurityLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnclosureSecurityLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Terug naar overzicht</a>
</div>
